<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases
</span>
</center></b>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Lecture 5 $-$ SQL Details (Cont), REST, Data Modeling<br>(V 1.0)
</span>
</center></i>

__Environment Set Up__

In [1]:
%load_ext sql
%sql mysql+pymysql://root:dbuserdbuser@localhost/lahman2019raw
%sql select * from people where playerid='willite01'

2 rows affected.

[('willite01', '1918', '8', '30', 'USA', 'CA', 'San Diego', '2002', '7', '5', 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01'),
 ('willite01', '1918', '8', '30', 'USA', 'CA', 'San Diego', '2002', '7', '5', 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01')]

- Now it looks like I have two Ted Williams.

# Introduction

## Questions, Answers, Discussion

## Today's Topics

1. Continuing and completing (hopefully) the SQL language.
    - You will learn SQL by using it to solve problems and hands on exercises.
    - There is some value to my plowing through the language elements, but frankly you can learn all of this for free in an online tutorial. I try to focus on topics that derive from experience.
    - The topics are:
        - ```UNIQUE``` in ```WHERE``` clause.
        - Recursive common table expression.
        - ```CASE``` statement.
        - ```WITH``` and _common table expressions._


# <span style="line-height:1.2;"> Database System Concepts - Seventh Edition<br>Ch. 3: Introduction to SQL (Completed)
</span>

## Set Comparison

<hr style="height:2px;">	<img src='../../images/ch3/Slide47.jpeg'>	<hr style="height:2px;">

- I could not make ```UNIQUE``` work for MySQL.


- An equivalent query is ...

In [4]:
%%sql
use newbookdb;
select T.course_id
	from course as T where
	( select count(R.course_id)   from section as R
		where T.course_id= R.course_id
			and R.year = 2017) = 0;

0 rows affected.
13 rows affected.

[('BIO-101',),
 ('BIO-301',),
 ('BIO-399',),
 ('CS-101',),
 ('CS-190',),
 ('CS-315',),
 ('CS-319',),
 ('CS-347',),
 ('EE-181',),
 ('FIN-201',),
 ('HIS-351',),
 ('MU-199',),
 ('PHY-101',)]

## WITH and Common Table Expressions

<hr style="height:2px;">	<img src='../../images/ch3/Slide50.jpeg'>	<hr style="height:2px;">

In [6]:
%%sql
with max_budget (value)  as   (select max(budget)           from department)
select
		department.dept_name
			from department, max_budget
            where department.budget = max_budget.value;

1 rows affected.

[('Finance',)]

<hr style="height:2px;">	<img src='../../images/ch3/Slide51.jpeg'>	<hr style="height:2px;">

In [8]:
%%sql
with `x` (dept_name, value) as
        (select dept_name, sum(salary)
         from instructor
         group by dept_name),
dept_total_avg(value) as
       (select avg(value)
       from `x`)
select dept_name
from `x`, dept_total_avg
where `x`.value > dept_total_avg.value;

3 rows affected.

[('Comp. Sci.',), ('Finance',), ('Physics',)]

- __Note:__ For some reason, MySQL 8 did not like `dept_total`


- In the example, MySQL using the term "common table expression" for tables like ```x``` and ```dept_total_avg```.


- You can use WITH at the beginning of SELECT, UPDATE and DELETE statements, in sub-queries and a few other places.


- I never use WITH, but I am not part of the SQL "cool kids club."


- You may not have noticed that there is an implicit JOIN (Cartesian product) formed in the query.


| <img src="../../images/with_execution.png" width="400px"> |
| :---: |
| __WITH execution__ |

- You can perform CTE recursively, if you are much smarter than I am.


- Recursion is an advanced, and often mind blowing concept in programming languages.


- Use in SQL is mind-blowing for the mind already blown.


- One of the most common example for motivating recursion is computing Fibonacci numbers.

In [11]:
def fib(n):
    
    if n == 1:
        return 1
    elif n == 2:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [13]:
fib(9)

34

- You can sort of do this with MySQL, but I am not sure why you would.

In [16]:
%%sql
WITH RECURSIVE fibonacci (n, fib_n, next_fib_n) AS
(
  SELECT 1, 0, 1
  UNION ALL
  SELECT n + 1, next_fib_n, fib_n + next_fib_n
    FROM fibonacci WHERE n < 10
)
SELECT n, next_fib_n FROM fibonacci where n = 9;

1 rows affected.

[(9, 34)]

- There are many cases in programming where recursion is interesting. These are often tree and graph algorithms.


- Manages/reports to relationships in organizations are tree structured but the reporting relationship is a property of an individual.

In [19]:
%%sql
select employeeNumber, lastName,
            reportsTo as managerNumber,
            (select lastName from classicmodels.employees as manager
                where emp.reportsTo=manager.employeeNumber) as managerLastName
    from
        classicmodels.employees as emp

23 rows affected.

[(1002, 'Murphy', None, None),
 (1056, 'Patterson', 1002, 'Murphy'),
 (1076, 'Firrelli', 1002, 'Murphy'),
 (1088, 'Patterson', 1056, 'Patterson'),
 (1102, 'Bondur', 1056, 'Patterson'),
 (1143, 'Bow', 1056, 'Patterson'),
 (1165, 'Jennings', 1143, 'Bow'),
 (1166, 'Thompson', 1143, 'Bow'),
 (1188, 'Firrelli', 1143, 'Bow'),
 (1216, 'Patterson', 1143, 'Bow'),
 (1286, 'Tseng', 1143, 'Bow'),
 (1323, 'Vanauf', 1143, 'Bow'),
 (1337, 'Bondur', 1102, 'Bondur'),
 (1370, 'Hernandez', 1102, 'Bondur'),
 (1401, 'Castillo', 1102, 'Bondur'),
 (1501, 'Bott', 1102, 'Bondur'),
 (1504, 'Jones', 1102, 'Bondur'),
 (1611, 'Fixter', 1088, 'Patterson'),
 (1612, 'Marsh', 1088, 'Patterson'),
 (1619, 'King', 1088, 'Patterson'),
 (1621, 'Nishi', 1056, 'Patterson'),
 (1625, 'Kato', 1621, 'Nishi'),
 (1702, 'Gerard', 1102, 'Bondur')]

- What if I to find someones management chain?


- Well, I can load the information.

In [56]:
reports_to = %sql select employeeNumber, reportsTo from classicmodels.employees

23 rows affected.

In [22]:
reports_to

[(1002, None),
 (1056, 1002),
 (1076, 1002),
 (1088, 1056),
 (1102, 1056),
 (1143, 1056),
 (1621, 1056),
 (1611, 1088),
 (1612, 1088),
 (1619, 1088),
 (1337, 1102),
 (1370, 1102),
 (1401, 1102),
 (1501, 1102),
 (1504, 1102),
 (1702, 1102),
 (1165, 1143),
 (1166, 1143),
 (1188, 1143),
 (1216, 1143),
 (1286, 1143),
 (1323, 1143),
 (1625, 1621)]

- Making this a dictionary, versus a list of dictionaries will make things a little easier.

In [57]:
reports_map = {}

for r in reports_to:
    reports_map[r["employeeNumber"]] = r["reportsTo"]

In [70]:
reports_map

{1002: None,
 1056: 1002,
 1076: 1002,
 1088: 1056,
 1102: 1056,
 1143: 1056,
 1165: 1143,
 1166: 1143,
 1188: 1143,
 1216: 1143,
 1286: 1143,
 1323: 1143,
 1337: 1102,
 1370: 1102,
 1401: 1102,
 1501: 1102,
 1504: 1102,
 1611: 1088,
 1612: 1088,
 1619: 1088,
 1621: 1056,
 1625: 1621,
 1702: 1102}

- I can now recursively figure out the management chain.

In [73]:
def get_reports_all(employeeNumber):
    mgr = reports_map.get(employeeNumber, None)
    if mgr is None:
        return None
    else:
        t = [mgr]
        x = get_reports_all(mgr)
        if x is not None:
            t.extend(x)
        return t

In [74]:
get_reports_all(1337)

[1102, 1056, 1002]

- Surprisingly, and perhaps terrifyingly, you can do something similar with CTEs.

In [75]:
%%sql
use classicmodels;
WITH RECURSIVE employee_paths (employeeNumber, name, path) AS
(
  SELECT employeeNumber, lastName, CAST(employeeNumber AS CHAR(200))
    FROM classicmodels.employees
    WHERE reportsTo IS NULL
  UNION ALL
  SELECT e.employeeNumber, e.lastName, CONCAT(ep.path, ',', e.employeeNumber)
    FROM employee_paths AS ep JOIN classicmodels.employees AS e
      ON ep.employeeNumber = e.reportsTo
)
SELECT * FROM employee_paths where employeeNumber=1337

0 rows affected.
1 rows affected.

[(1337, 'Bondur', '1002,1056,1102,1337')]

## CASE Statement

<hr style="height:2px;">	<img src='../../images/ch3/Slide59.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide60.jpeg'>	<hr style="height:2px;">

__Note:__ The query example does not work as expected on the data because there are no students who have not taken qualifying classes. So, this example is focusing on the concept.

<hr style="height:2px;">	<img src='../../images/ch3/Slide61.jpeg'>	<hr style="height:2px;">

# Chapter 4 (Continued)

<hr style="height:2px;">	<img src='../../images/ch4/Slide1.jpeg'>	<hr style="height:2px;">

## JOIN (Continued)

### Concept

- We went through some JOIN concepts and examples in last lecture.


- Another way to think about JOINs is in terms of set operationns.

<hr style="height:2px;">

| <img src="../../images/various_joins.png"> |
| :---: |
| __JOINs__ |

<hr style="height:2px;">

- Standard set operators, e.g. UNION, apply to individual elements as a whole. All of $A$ must be in set $S_1$ and in set $S_2$ for $A$ to be in $S_1 \cap S_2.$


- ```JOIN``` defines set membership based on the columns in the ```ON``` clause.

### Some Complex JOIN Examples

#### UI01: Given a Team ID and Year Range, Find Hall of Fame Members

"The National Baseball Hall of Fame and Museum is an American history museum and hall of fame, located in Cooperstown, New York, and operated by private interests. It serves as the central point for the study of the history of baseball in the United States and beyond, displays baseball-related artifacts and exhibits, and honors those who have excelled in playing, managing, and serving the sport. The Hall's motto is 'Preserving History, Honoring Excellence, Connecting Generations. 
... ...
Among baseball fans, 'Hall of Fame' means not only the museum and facility in Cooperstown, New York, but the pantheon of players, managers, umpires, executives, and pioneers who have been enshrined in the Hall." (https://en.wikipedia.org/wiki/National_Baseball_Hall_of_Fame_and_Museum#Selection_process)

In [126]:
%%sql
use lahman2019clean;
select * from halloffame where inducted = 'Y' order by playerid limit 10;

0 rows affected.
10 rows affected.

[('aaronha01', '1982', 'BBWAA', '415', '312', '406', 'Y', 'Player', ''),
 ('alexape01', '1938', 'BBWAA', '262', '197', '212', 'Y', 'Player', ''),
 ('alomaro01', '2011', 'BBWAA', '581', '436', '523', 'Y', 'Player', ''),
 ('alstowa01', '1983', 'Veterans', '', '', '', 'Y', 'Manager', ''),
 ('andersp01', '2000', 'Veterans', '', '', '', 'Y', 'Manager', ''),
 ('ansonca01', '1939', 'Old Timers', '', '', '', 'Y', 'Player', ''),
 ('aparilu01', '1984', 'BBWAA', '403', '303', '341', 'Y', 'Player', ''),
 ('applilu01', '1964', 'Run Off', '201', '', '189', 'Y', 'Player', '1st'),
 ('ashburi01', '1995', 'Veterans', '', '', '', 'Y', 'Player', ''),
 ('averiea01', '1975', 'Veterans', '', '', '', 'Y', 'Player', '')]

- Players for the _Boston Red Sox_ since 2000.

In [127]:
%sql select distinct playerid from appearances where teamid='BOS' and yearid between 2000 and 2017 limit 10;

10 rows affected.

[('alcanis01',),
 ('alexama02',),
 ('arrojro01',),
 ('beckro01',),
 ('berryse01',),
 ('bicheda01',),
 ('brognri01',),
 ('burkhmo01',),
 ('carrahe01',),
 ('cormirh01',)]

- Find the Red Sox players who played between 2000 and 2017, and who are in the Hall of Fame.


- Answering the question is an ```INNER JOIN``` on the two derived tables.

In [128]:
%sql select a.playerid from \
    (select playerid, yearid, inducted from halloffame where inducted='Y') as a \
join \
   (select distinct playerid from appearances where teamid='BOS' and yearid between 2000 and 2017) as b \
on a.playerid = b.playerid;

3 rows affected.

[('henderi01',), ('martipe02',), ('smoltjo01',)]

- What is a right join? Well, I want to see all playerids for players in the range and know if they are in the hall of fame? That is a right join.
    - Things that are in both sets (the join condition matches)
    - And also everything in the right set

In [130]:
%sql select b.playerid, a.inducted, a.yearid from \
    (select playerid, yearid, inducted from halloffame where inducted='Y') as a \
right join \
   (select distinct playerid from appearances where teamid='BOS' and yearid between 2000 and 2017) as b \
on a.playerid = b.playerid \
order by inducted desc;

454 rows affected.

[('henderi01', 'Y', '2009'),
 ('martipe02', 'Y', '2015'),
 ('smoltjo01', 'Y', '2015'),
 ('alcanis01', None, None),
 ('alexama02', None, None),
 ('arrojro01', None, None),
 ('beckro01', None, None),
 ('berryse01', None, None),
 ('bicheda01', None, None),
 ('brognri01', None, None),
 ('burkhmo01', None, None),
 ('carrahe01', None, None),
 ('cormirh01', None, None),
 ('crawfpa02', None, None),
 ('crousri01', None, None),
 ('cummimi01', None, None),
 ('daubabr01', None, None),
 ('evereca01', None, None),
 ('fasseje01', None, None),
 ('floribr01', None, None),
 ('fryeje01', None, None),
 ('gaettga01', None, None),
 ('garceri01', None, None),
 ('garcino01', None, None),
 ('gilkebe01', None, None),
 ('hattesc01', None, None),
 ('lansimi01', None, None),
 ('leesa01', None, None),
 ('lewisda01', None, None),
 ('lowede01', None, None),
 ('martira02', None, None),
 ('merlolo01', None, None),
 ('nixontr01', None, None),
 ('offerjo01', None, None),
 ('ohkato01', None, None),
 ('oleartr01', None, None),
 ('ontivst02', None, None),
 ('penaje01', None, None),
 ('pichahi01', None, None),
 ('pridecu01', None, None),
 ('rosebr01', None, None),
 ('sadledo01', None, None),
 ('schoupe01', None, None),
 ('sheetan01', None, None),
 ('smithda06', None, None),
 ('spraged02', None, None),
 ('staniro01', None, None),
 ('stanlmi02', None, None),
 ('valenjo02', None, None),
 ('varitja01', None, None),
 ('veraswi01', None, None),
 ('wakefti01', None, None),
 ('wasdijo01', None, None),
 ('youngti01', None, None),
 ('bankswi01', None, None),
 ('castica02', None, None),
 ('castifr01', None, None),
 ('coneda01', None, None),
 ('erdosto01', None, None),
 ('fossuca01', None, None),
 ('grebecr01', None, None),
 ('hillesh02', None, None),
 ('jensema01', None, None),
 ('kimsu01', None, None),
 ('loftoja01', None, None),
 ('mcdilal01', None, None),
 ('mirabdo01', None, None),
 ('nomohi01', None, None),
 ('olivejo01', None, None),
 ('pickeca01', None, None),
 ('pulsibi01', None, None),
 ('ramirma02', None, None),
 ('saberbr01', None, None),
 ('santoan01', None, None),
 ('stynech01', None, None),
 ('urbinug01', None, None),
 ('agbaybe01', None, None),
 ('andresh01', None, None),
 ('baergca01', None, None),
 ('brownke04', None, None),
 ('burkejo03', None, None),
 ('clarkto02', None, None),
 ('damonjo01', None, None),
 ('diazju01', None, None),
 ('embreal01', None, None),
 ('floydcl01', None, None),
 ('gomeswa01', None, None),
 ('hancojo01', None, None),
 ('haneych01', None, None),
 ('hermadu01', None, None),
 ('howrybo01', None, None),
 ('nelsobr01', None, None),
 ('oliveda02', None, None),
 ('sanchfr01', None, None),
 ('sanchre01', None, None),
 ('abadan01', None, None),
 ('almonhe01', None, None),
 ('arroybr01', None, None),
 ('brownad01', None, None),
 ('chenbr01', None, None),
 ('collilo01', None, None),
 ('foxch02', None, None),
 ('giambje01', None, None),
 ('haselbi01', None, None),
 ('jacksda04', None, None),
 ('jonesto02', None, None),
 ('kaplega01', None, None),
 ('kimby01', None, None),
 ('lyonbr01', None, None),
 ('mccarda01', None, None),
 ('mendora01', None, None),
 ('millake01', None, None),
 ('muellbi02', None, None),
 ('ortizda01', None, None),
 ('persoro01', None, None),
 ('rupery01', None, None),
 ('sauersc01', None, None),
 ('seaneru01', None, None),
 ('shielja01', None, None),
 ('suppaje01', None, None),
 ('timlimi01', None, None),
 ('tolarke01', None, None),
 ('walketo04', None, None),
 ('whitema03', None, None),
 ('willisc01', None, None),
 ('woodast01', None, None),
 ('adamste01', None, None),
 ('alvarab01', None, None),
 ('anderji02', None, None),
 ('astacpe01', None, None),
 ('bellhma01', None, None),
 ('brownja04', None, None),
 ('burksel01', None, None),
 ('cabreor01', None, None),
 ('crespce01', None, None),
 ('dinarle01', None, None),
 ('dominan01', None, None),
 ('foulkke01', None, None),
 ('gutieri01', None, None),
 ('hyzduad01', None, None),
 ('jonesbo04', None, None),
 ('leskacu01', None, None),
 ('malasma01', None, None),
 ('martian01', None, None),
 ('martisa01', None, None),
 ('mientdo01', None, None),
 ('myersmi01', None, None),
 ('nelsojo01', None, None),
 ('reesepo01', None, None),
 ('roberda07', None, None),
 ('schilcu01', None, None),
 ('seibeph01', None, None),
 ('snydeea01', None, None),
 ('youklke01', None, None),
 ('bradfch01', None, None),
 ('cassisc01', None, None),
 ('clemema01', None, None),
 ('coraal01', None, None),
 ('cruzjo02', None, None),
 ('delcama01', None, None),
 ('gonzaje01', None, None),
 ('graffto01', None, None),
 ('halamjo01', None, None),
 ('hansecr01', None, None),
 ('harvich01', None, None),
 ('machaal01', None, None),
 ('mantema01', None, None),
 ('meredcl01', None, None),
 ('millewa04', None, None),
 ('nealbl01', None, None),
 ('olerujo01', None, None),
 ('papeljo01', None, None),
 ('paytoja01', None, None),
 ('perisma01', None, None),
 ('petagro01', None, None),
 ('ramirha01', None, None),
 ('remlimi01', None, None),
 ('renteed01', None, None),
 ('shoppke01', None, None),
 ('stantmi02', None, None),
 ('sternad01', None, None),
 ('vazqura01', None, None),
 ('wellsda01', None, None),
 ('wootesh01', None, None),
 ('bardjo01', None, None),
 ('beckejo02', None, None),
 ('breslcr01', None, None),
 ('burnsmi01', None, None),
 ('coreybr01', None, None),
 ('crispco01', None, None),
 ('gabbaka01', None, None),
 ('gonzaal02', None, None),
 ('hansade01', None, None),
 ('harriwi01', None, None),
 ('hinsker01', None, None),
 ('holtzmi01', None, None),
 ('huckake01', None, None),
 ('jarvike01', None, None),
 ('johnsja02', None, None),
 ('lestejo01', None, None),
 ('lopezja01', None, None),
 ('lopezja02', None, None),
 ('loretma01', None, None),
 ('lowelmi01', None, None),
 ('milleco01', None, None),
 ('mohrdu01', None, None),
 ('murphda07', None, None),
 ('pauleda01', None, None),
 ('pedrodu01', None, None),
 ('penaca01', None, None),
 ('penawi01', None, None),
 ('riskeda01', None, None),
 ('snowjt01', None, None),
 ('snydeky01', None, None),
 ('tavarju01', None, None),
 ('vanbuje01', None, None),
 ('baileje01', None, None),
 ('buchhcl01', None, None),
 ('cashke01', None, None),
 ('claytro01', None, None),
 ('donnebr01', None, None),
 ('drewjd01', None, None),
 ('ellsbja01', None, None),
 ('gagneer01', None, None),
 ('kieltbo01', None, None),
 ('lugoju01', None, None),
 ('matsuda01', None, None),
 ('mossbr01', None, None),
 ('okajihi01', None, None),
 ('pineijo01', None, None),
 ('romerjc01', None, None),
 ('aardsda01', None, None),
 ('bayja01', None, None),
 ('bowdemi01', None, None),
 ('byrdpa01', None, None),
 ('cartech01', None, None),
 ('caseyse01', None, None),
 ('colonba01', None, None),
 ('kotsama01', None, None),
 ('kottage01', None, None),
 ('lowrije01', None, None),
 ('masteju01', None, None),
 ('rossda01', None, None),
 ('smithch07', None, None),
 ('thursjo01', None, None),
 ('vanevjo01', None, None),
 ('velazgi01', None, None),
 ('zinkch01', None, None),
 ('anderbr03', None, None),
 ('baldero01', None, None),
 ('bardda01', None, None),
 ('batesaa01', None, None),
 ('browndu01', None, None),
 ('cabrefe01', None, None),
 ('gathrjo01', None, None),
 ('gonzaen01', None, None),
 ('greenni01', None, None),
 ('joneshu01', None, None),
 ('kotchca01', None, None),
 ('larocad01', None, None),
 ('martivi01', None, None),
 ('pennybr01', None, None),
 ('ramirra02', None, None),
 ('reddijo01', None, None),
 ('richadu02', None, None),
 ('saitota01', None, None),
 ('tazawju01', None, None),
 ('trabebi01', None, None),
 ('wagnebi02', None, None),
 ('woodwch01', None, None),
 ('anderla03', None, None),
 ('atchisc01', None, None),
 ('beltrad01', None, None),
 ('bonsebo01', None, None),
 ('camermi01', None, None),
 ('coellro01', None, None),
 ('doubrfe01', None, None),
 ('foxma01', None, None),
 ('hallbi03', None, None),
 ('hermije01', None, None),
 ('hillri01', None, None),
 ('kalisry01', None, None),
 ('lackejo01', None, None),
 ('lopezfe01', None, None),
 ('manuero01', None, None),
 ('mcdonda02', None, None),
 ('molingu01', None, None),
 ('navada01', None, None),
 ('navarya01', None, None),
 ('patteer01', None, None),
 ('romerni01', None, None),
 ('saltaja01', None, None),
 ('sanchan02', None, None),
 ('schoesc01', None, None),
 ('scutama01', None, None),
 ('shealry01', None, None),
 ('aceveal01', None, None),
 ('alberma01', None, None),
 ('avilemi01', None, None),
 ('bedarer01', None, None),
 ('crawfca02', None, None),
 ('gonzaad01', None, None),
 ('hottoto01', None, None),
 ('iglesjo01', None, None),
 ('jacksco01', None, None),
 ('jenksbo01', None, None),
 ('lavarry01', None, None),
 ('millean01', None, None),
 ('milletr02', None, None),
 ('moralfr01', None, None),
 ('reyesde01', None, None),
 ('spearna01', None, None),
 ('suttodr01', None, None),
 ('weilaky01', None, None),
 ('wheelda01', None, None),
 ('willira01', None, None),
 ('bailean01', None, None),
 ('beatope01', None, None),
 ('byrdma01', None, None),
 ('carpech02', None, None),
 ('ciriape01', None, None),
 ('cookaa01', None, None),
 ('dejesiv02', None, None),
 ('germaju01', None, None),
 ('gomezma01', None, None),
 ('lillibr01', None, None),
 ('linch01', None, None),
 ('loneyja01', None, None),
 ('melanma01', None, None),
 ('middlwi01', None, None),
 ('mortecl01', None, None),
 ('padilvi01', None, None),
 ('podsesc01', None, None),
 ('puntoni01', None, None),
 ('quirogu01', None, None),
 ('repkoja01', None, None),
 ('rossco01', None, None),
 ('stewaza01', None, None),
 ('sweenry01', None, None),
 ('thomaju01', None, None),
 ('valenda01', None, None),
 ('berryqu01', None, None),
 ('bogaexa01', None, None),
 ('bradlja02', None, None),
 ('brittdr01', None, None),
 ('carpmi01', None, None),
 ('delarru01', None, None),
 ('delatjo01', None, None),
 ('dempsry01', None, None),
 ('diazjo02', None, None),
 ('drewst01', None, None),
 ('gomesjo01', None, None),
 ('hanrajo01', None, None),
 ('holtbr01', None, None),
 ('mcdonjo03', None, None),
 ('napolmi01', None, None),
 ('peavyja01', None, None),
 ('snydebr03', None, None),
 ('thornma01', None, None),
 ('ueharko01', None, None),
 ('victosh01', None, None),
 ('villabr02', None, None),
 ('webstal01', None, None),
 ('wilsoal01', None, None),
 ('workmbr01', None, None),
 ('wrighst01', None, None),
 ('badenbu01', None, None),
 ('barnema01', None, None),
 ('bettsmo01', None, None),
 ('brentbr01', None, None),
 ('brownco01', None, None),
 ('butleda01', None, None),
 ('capuach01', None, None),
 ('castiru01', None, None),
 ('cecchga01', None, None),
 ('cespeyo01', None, None),
 ('craigal01', None, None),
 ('escobed02', None, None),
 ('hassaal01', None, None),
 ('hembrhe01', None, None),
 ('herrejo03', None, None),
 ('johnske05', None, None),
 ('kellyjo05', None, None),
 ('layneto01', None, None),
 ('mujiced01', None, None),
 ('pierzaj01', None, None),
 ('ranauan01', None, None),
 ('riverca02', None, None),
 ('roberry01', None, None),
 ('sizemgr01', None, None),
 ('vazquch01', None, None),
 ('weeksje01', None, None),
 ('arojo01', None, None),
 ('biancje01', None, None),
 ('cookry01', None, None),
 ('deazaal01', None, None),
 ('hanigry01', None, None),
 ('hinojda01', None, None),
 ('jimenlu02', None, None),
 ('johnsbr02', None, None),
 ('leonsa01', None, None),
 ('machije01', None, None),
 ('marrede01', None, None),
 ('mendero01', None, None),
 ('mileywa01', None, None),
 ('ogandal01', None, None),
 ('owenshe02', None, None),
 ('pegueca01', None, None),
 ('porceri01', None, None),
 ('ramirno01', None, None),
 ('rodried05', None, None),
 ('rossro01', None, None),
 ('rutlejo01', None, None),
 ('sandopa01', None, None),
 ('shawtr01', None, None),
 ('swihabl01', None, None),
 ('varvaan01', None, None),
 ('abadfe01', None, None),
 ('beninan01', None, None),
 ('cuevawi01', None, None),
 ('eliasro01', None, None),
 ('hernama02', None, None),
 ('hillaa01', None, None),
 ('holadbr01', None, None),
 ('kimbrcr01', None, None),
 ('lamarry01', None, None),
 ('lightpa01', None, None),
 ('martimi02', None, None),
 ('millemi01', None, None),
 ('moncayo01', None, None),
 ('osullse01', None, None),
 ('pomerdr01', None, None),
 ('priceda01', None, None),
 ('scottro02', None, None),
 ('smithca02', None, None),
 ('youngch04', None, None),
 ('zieglbr01', None, None),
 ('boyerbl01', None, None),
 ('darnach01', None, None),
 ('davisra01', None, None),
 ('deverra01', None, None),
 ('fistedo01', None, None),
 ('kendrky01', None, None),
 ('lintz01', None, None),
 ('maddoau01', None, None),
 ('martiky01', None, None),
 ('morelmi01', None, None),
 ('nunezed02', None, None),
 ('reedad01', None, None),
 ('salech01', None, None),
 ('selskst01', None, None),
 ('taylobe03', None, None),
 ('travisa01', None, None),
 ('velazhe01', None, None)]

#### UI21: Find Traitors

- "Rivalries in the Major League Baseball have occurred between many teams and cities. Rivalries have arisen for many different reasons, the primary ones including geographic proximity, familiarity with opponents, various incidents, and cultural, linguistic, or national pride." (https://en.wikipedia.org/wiki/Major_League_Baseball_rivalries)


- Write a function/query supporting an input form.
    - The input form has the following fields:
        - Your favorite team.
        - Your arch rival team.
        - A range of years.
    - The out is the list of arch-traitors who played for your favorite team and the arch rival during the time period.
    
    
- Why do I care about this?

<hr style="height:2px;">

| <img src="../../images/rivalries.jpg"> |
| :---: |
| Rivals |

<hr style="height:2px;">
    
    
- The first step is a query that finds playerID based on team and a year range.

In [131]:
%sql select playerid from appearances where teamid='BOS' and yearid between '2000' and '2017' limit 10;

10 rows affected.

[('alcanis01',),
 ('alexama02',),
 ('arrojro01',),
 ('beckro01',),
 ('berryse01',),
 ('bicheda01',),
 ('brognri01',),
 ('burkhmo01',),
 ('carrahe01',),
 ('cormirh01',)]

- We are doing a _self join_ after applying a select to ```Appearances.```

In [132]:
%sql \
    select distinct a.playerid from \
        (select playerid from appearances where teamid='BOS' and yearid between '2000' and '2017') as a \
        join \
        (select playerid from appearances where teamid='NYA' and yearid between '2000' and '2017') as b \
    on \
        a.playerid = b.playerid;

40 rows affected.

[('coneda01',),
 ('erdosto01',),
 ('mendora01',),
 ('stantmi02',),
 ('olivejo01',),
 ('wellsda01',),
 ('pridecu01',),
 ('clarkto02',),
 ('olerujo01',),
 ('bellhma01',),
 ('embreal01',),
 ('sanchre01',),
 ('damonjo01',),
 ('greenni01',),
 ('myersmi01',),
 ('mientdo01',),
 ('aceveal01',),
 ('trabebi01',),
 ('cashke01',),
 ('hinsker01',),
 ('melanma01',),
 ('nunezed02',),
 ('colonba01',),
 ('molingu01',),
 ('aardsda01',),
 ('lowede01',),
 ('mcdonda02',),
 ('thomaju01',),
 ('lillibr01',),
 ('youklke01',),
 ('capuach01',),
 ('drewst01',),
 ('ellsbja01',),
 ('hillri01',),
 ('johnske05',),
 ('thornma01',),
 ('youngch04',),
 ('bailean01',),
 ('millean01',),
 ('layneto01',)]

- This is not technically correct. You are only a traitor if you played for the Yankees __after__ playing for the Red Sox.

In [133]:
%%sql
select distinct a.playerid from 
    (select playerid, yearid from appearances where teamid='BOS' and yearid between '2000' and '2017') as a 
    join 
    (select playerid, yearid from appearances where teamid='NYA' and yearid between '2000' and '2017') as b 
on 
    a.playerid = b.playerid and b.yearid > a.yearid;

27 rows affected.

[('pridecu01',),
 ('clarkto02',),
 ('bellhma01',),
 ('embreal01',),
 ('mendora01',),
 ('sanchre01',),
 ('damonjo01',),
 ('myersmi01',),
 ('mientdo01',),
 ('cashke01',),
 ('hinsker01',),
 ('colonba01',),
 ('molingu01',),
 ('aardsda01',),
 ('lowede01',),
 ('mcdonda02',),
 ('lillibr01',),
 ('youklke01',),
 ('aceveal01',),
 ('drewst01',),
 ('ellsbja01',),
 ('hillri01',),
 ('thornma01',),
 ('bailean01',),
 ('capuach01',),
 ('millean01',),
 ('layneto01',)]

## Views

<hr style="height:2px;">	<img src='../../images/ch4/Slide23.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch4/Slide24.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch4/Slide25.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch4/Slide26.jpeg'>	<hr style="height:2px;">

- __Note:__ I beg you. Do not use recursive views. I am not that smart.


<hr style="height:2px;">	<img src='../../images/ch4/Slide27.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch4/Slide28.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch4/Slide29.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch4/Slide30.jpeg'>	<hr style="height:2px;">

<hr style="height:2px;">	<img src='../../images/ch4/Slide31.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch4/Slide32.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch4/Slide33.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch4/Slide34.jpeg'>	<hr style="height:2px;">

## Integrity Constraints (Continued)

<hr style="height:2px;">	<img src='../../images/ch4/Slide36.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch4/Slide39.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch4/Slide40.jpeg'>	<hr style="height:2px;">


<hr style="height:2px;">	<img src='../../images/ch4/Slide43.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch4/Slide45.jpeg'>	<hr style="height:2px;">

## Index Creation

<hr style="height:2px;">	<img src='../../images/ch4/Slide51.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch4/Slide52.jpeg'>	<hr style="height:2px;">

- Let's create some indexes and see what happens.


- But first, let's write a little helper code.

In [145]:
import pymysql
def get_default_connection():
    result = pymysql.connect(host='localhost',
                                 user='root',
                                 password='dbuserdbuser',
                                 charset='utf8mb4',
                                 cursorclass=pymysql.cursors.DictCursor)
    return result

In [153]:
import time

def time_query(query, args=None, count=1):
    cnx = get_default_connection()
    cur = cnx.cursor()
    start_time = time.time()
    for i in range(0, count):
        res = cur.execute(query, args)
    end_time = time.time()
    elapsed_time = end_time - start_time
    return elapsed_time

In [151]:
query = "select playerid from lahman2019clean.appearances where teamid='BOS' and yearid='1960'"

In [155]:
et = time_query(query, count=1000)
et

0.6542799472808838

In [158]:
query = "select playerid from lahman2019clean.appearances_slow where teamid='BOS' and yearid='1960'"
et = time_query(query, count=1000)
et

33.220203161239624

- What is the difference? The slow table does not have an index on ```(teamID, yearID)```

```

CREATE TABLE `appearances` (
  `yearID` varchar(4) NOT NULL,
  `teamID` varchar(4) NOT NULL,
  `lgID` text,
  `playerID` varchar(16) NOT NULL,
  `G_all` text,
  `GS` text,
  `G_batting` text,
  `G_defense` text,
  `G_p` text,
  `G_c` text,
  `G_1b` text,
  `G_2b` text,
  `G_3b` text,
  `G_ss` text,
  `G_lf` text,
  `G_cf` text,
  `G_rf` text,
  `G_of` text,
  `G_dh` text,
  `G_ph` text,
  `G_pr` text,
  PRIMARY KEY (`playerID`,`teamID`,`yearID`),
  KEY `team_year` (`teamID`,`yearID`),
  CONSTRAINT `a_to_p` FOREIGN KEY (`playerID`) REFERENCES `people` (`playerID`),
  CONSTRAINT `a_to_t` FOREIGN KEY (`teamID`, `yearID`) REFERENCES `teams` (`teamID`, `yearID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


CREATE TABLE `appearances_slow` (
  `yearID` varchar(4) NOT NULL,
  `teamID` varchar(4) NOT NULL,
  `lgID` text,
  `playerID` varchar(16) NOT NULL,
  `G_all` text,
  `GS` text,
  `G_batting` text,
  `G_defense` text,
  `G_p` text,
  `G_c` text,
  `G_1b` text,
  `G_2b` text,
  `G_3b` text,
  `G_ss` text,
  `G_lf` text,
  `G_cf` text,
  `G_rf` text,
  `G_of` text,
  `G_dh` text,
  `G_ph` text,
  `G_pr` text,
  PRIMARY KEY (`playerID`,`teamID`,`yearID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


```

# Chapter 5: Advanced SQL

<hr style="height:2px;">	<img src='../../images/ch5/Slide30.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide32.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide33.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide34.jpeg'>	<hr style="height:2px;">

<hr style="height:2px;">	<img src='../../images/ch5/Slide35.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide36.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide37.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide38.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide39.jpeg'>	<hr style="height:2px;">

<hr style="height:2px;">	<img src='../../images/ch5/Slide40.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide41.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide42.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide43.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide44.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide45.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide46.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide47.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide48.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide49.jpeg'>	<hr style="height:2px;">

<hr style="height:2px;">	<img src='../../images/ch5/Slide50.jpeg'>	<hr style="height:2px;">
<br><br>
<span style="color:red; font-size: 36px;">I let you know you can do this. Please do not do it.</span>
<br><br>
<hr style="height:2px;">	<img src='../../images/ch5/Slide51.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch5/Slide52.jpeg'>	<hr style="height:2px;">

# Inheritance

## Concept

- E-R associations/relationships represent terms like:
    - A purchase order __has__ line items.
    - A shopping card __contains__ purchase items.
    - A course section __has__ enrolled students.
    - A course __has__ a prereqs.
    - MySQL installation __depends on__ the operating system.
    
    
- There is another type of association, __IsA.__
    - A __Batter__ is a __Person__
    - A __Pitcher__ is a __Person__
    - And this may not be exclusive, e.g. someone can be a Batter and Pitcher.
    
    
- Implementing _IsA_ is a design pattern in E-R diagrams and databases.


- The [Vertabelo blog](http://www.vertabelo.com/blog/technical-articles/inheritance-in-a-relational-database) has a good overview of inheritance modeling and implementation.


- (From the blog) Subclass/inheritance Constraints are described along two dimensions:
    - Incomplete/Complete
        - In an incomplete specialization only some instances of the parent class are specialized (have unique attributes). Other instances of the parent class have only the common attributes.
        -n In a complete specialization, every instance of the parent class has one or more unique attributes that are not common to the parent class.
    - Disjoint/Overlapping
        - In a disjoint specialization, an object could be a member of only one specialized subclass.
        - In an overlapping specialization, an object could be a member of more than one specialized subclass.
        
        
- (From Vertabelo blog) There are three core patterns for modeling inheritance/subclassing in relational data models.

| <img src="../../images/isa_1.jpeg"> |
| :---: |
| __Simple Model__ |

| <img src="../../images/isa_2.jpeg"> |
| :---: |
| __One Table__ |

| <img src="../../images/isa_3.jpeg"> |
| :---: |
| __Two Table__ |

| <img src="../../images/isa_4.jpeg"> |
| :---: |
| __Three Table__ |

## An Example

### Schema

- We will do a 3-table solution to ```Person, Student``` and ```Faculty```

```
CREATE TABLE `person3` (
  `uni` varchar(12) NOT NULL,
  `last_name` varchar(45) NOT NULL,
  `first_name` varchar(45) NOT NULL,
  `email` varchar(128) NOT NULL,
  PRIMARY KEY (`uni`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `student3` (
  `uni` varchar(12) NOT NULL,
  `school` varchar(12) NOT NULL,
  `major` varchar(12) NOT NULL,
  PRIMARY KEY (`uni`),
  CONSTRAINT `s_to_p` FOREIGN KEY (`uni`) REFERENCES `person3` (`uni`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `faculty3` (
  `uni` varchar(12) NOT NULL,
  `title` varchar(12) NOT NULL,
  `department` varchar(12) NOT NULL,
  PRIMARY KEY (`uni`),
  CONSTRAINT `f_to_p` FOREIGN KEY (`uni`) REFERENCES `person3` (`uni`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

```

### Step 1: Generate UNI Function

- How to make a UNI?

```
CREATE DEFINER=`root`@`localhost` FUNCTION `generate_uni`(first_name varchar(32), last_name varchar(32)) RETURNS varchar(12) CHARSET utf8
BEGIN

	declare f_prefix varchar(2);
    declare l_prefix varchar(2);
    declare prefix_count int;
    declare full_prefix varchar(5);
    declare result varchar(12);
    
    
    set f_prefix = lower(substr(first_name, 1, 2));
    set l_prefix = lower(substr(last_name, 1, 2));
    
    set full_prefix = concat(f_prefix, l_prefix, '%');
    
    set prefix_count = (select count(*) as count from person3 where uni like(full_prefix));
    
    set result = concat(f_prefix, l_prefix, prefix_count+1);
    
    return result;
    
END
```

### Step 2: Add Triggers to person3

- Generate the UNI on ```INSERT.```


```
CREATE DEFINER=`root`@`localhost` TRIGGER `W4111F19`.`person3_BEFORE_INSERT` BEFORE INSERT ON `person3` FOR EACH ROW
BEGIN

	set new.uni = generate_uni(new.first_name, new.last_name);

END
```

- Make the UNI immutable on ```UPDATE.```

```
CREATE DEFINER=`root`@`localhost` TRIGGER `W4111F19`.`person3_BEFORE_UPDATE` BEFORE UPDATE ON `person3` FOR EACH ROW
BEGIN

	IF new.uni != old.uni then
		signal sqlstate '45002'
			set message_text="UNI is immutable";
	end if;
    
END
```

### Step 4: Stored Procedures

- We do not want to rely on external applications to ensure integrity and understand schema.


- We will write procedures that create, update and delete ```student3``` and ```faculty3```


- This way the operations are an intrinsic part of the data.

### OK. Let's do This

... ...

# ER Modeling

<hr style="height:2px;">	<img src='../../images/ch6/Slide1.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide2.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide3.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide4.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide5.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide6.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide7.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide8.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide9.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide10.jpeg'>	<hr style="height:2px;">

<hr style="height:2px;">	<img src='../../images/ch6/Slide11.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide12.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide13.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide14.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide15.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide16.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide17.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide18.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide19.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide20.jpeg'>	<hr style="height:2px;">

<hr style="height:2px;">	<img src='../../images/ch6/Slide21.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide22.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide23.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide24.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide25.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide26.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide27.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide28.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide29.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide30.jpeg'>	<hr style="height:2px;">

<hr style="height:2px;">	<img src='../../images/ch6/Slide31.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide32.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide33.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide34.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide35.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide36.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide37.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide38.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide39.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide40.jpeg'>	<hr style="height:2px;">

<hr style="height:2px;">	<img src='../../images/ch6/Slide41.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide42.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide43.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide44.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide45.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide46.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide47.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide48.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide49.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide50.jpeg'>	<hr style="height:2px;">

<hr style="height:2px;">	<img src='../../images/ch6/Slide51.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide52.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide53.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide54.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide55.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide56.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide57.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide58.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide59.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide60.jpeg'>	<hr style="height:2px;">

<hr style="height:2px;">	<img src='../../images/ch6/Slide61.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide62.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide63.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide64.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide65.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide66.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide67.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide68.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide69.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide70.jpeg'>	<hr style="height:2px;">

<hr style="height:2px;">	<img src='../../images/ch6/Slide71.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide72.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide73.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide74.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide75.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide76.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide77.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide78.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide79.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide80.jpeg'>	<hr style="height:2px;">

<hr style="height:2px;">	<img src='../../images/ch6/Slide81.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide82.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide83.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide84.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch6/Slide85.jpeg'>	<hr style="height:2px;">