<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases
</span>
</center></b>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Makeup Lecture(s) -- Relational Details, REST<br>(V 1.0)
</span>
</center></i>

__Environment Set Up__

In [1]:
%load_ext sql
%sql mysql+pymysql://root:dbuserdbuser@localhost/lahman2019raw
%sql select * from people where playerid='willite01'

 * mysql+pymysql://root:***@localhost/lahman2019raw
1 rows affected.

[('willite01', '1918', '8', '30', 'USA', 'CA', 'San Diego', '2002', '7', '5', 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01')]

- Now it looks like I have two Ted Williams.

# Introduction

- This lecture will cover three topics.<br>
    1. The theoretical/mathematical/formal relational model.
    <br><br>
    1. A systematic walk-through of the SQL language.
    <br><br>
    1. An overview of REST/web data and the mapping to the relational model.


- There are several references to the details of (1) and (2).


- (1) Formal relational model:
    - "Database System Concepts - Seventh Edition," by Silberschatz, Korth, Sundarshan. ISBN 9780078022159, Chapter 2.
    - "Database Management Systems 3ed," by  R. Ramakrishnan and J. Gehrke. Chapter 3.
    
    
- (2) SQL language:
    - "Database System Concepts - Seventh Edition," by Silberschatz, Korth, Sundarshan. ISBN 9780078022159, Chapter 3 and chapter 4.
    - "Database Management Systems 3ed," by  R. Ramakrishnan and J. Gehrke., chapters 4 and 5.
    - "Learn SQL: SQL Tutorial," https://www.tutorialspoint.com/sql/index.htm
    - "SQL Tutorial," https://www.w3schools.com/sql
    
    
    
- (3) There are a lot of good tutorials on REST and REST APIs.
    - REST API Tutorial (https://restfulapi.net/) is a good start.
    - https://www.kennethlange.com/the-sql-developers-guide-to-rest-services/ is a good, quick, simple overview of SQL and REST.
    - I will provide a concise view of REST, and my perspective on REST APIs and on combining SQL and REST.
    
    
__This recording focuses on topic (1).__

<hr style="height:2px;">	<img src='../../images/ch2/Slide1.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide2.jpeg'>	<hr style="height:2px;">

In [2]:
%sql use newdbbook;

0 rows affected.

[]

In [5]:
%sql select * from takes limit 10;

10 rows affected.

[('00128', 'CS-101', '1', 'Fall', Decimal('2009'), 'A'),
 ('00128', 'CS-347', '1', 'Fall', Decimal('2009'), 'A-'),
 ('12345', 'CS-101', '1', 'Fall', Decimal('2009'), 'C'),
 ('12345', 'CS-190', '2', 'Spring', Decimal('2009'), 'A'),
 ('12345', 'CS-315', '1', 'Spring', Decimal('2010'), 'A'),
 ('12345', 'CS-347', '1', 'Fall', Decimal('2009'), 'A'),
 ('19991', 'HIS-351', '1', 'Spring', Decimal('2010'), 'B'),
 ('23121', 'FIN-201', '1', 'Spring', Decimal('2010'), 'C+'),
 ('44553', 'PHY-101', '1', 'Fall', Decimal('2009'), 'B-'),
 ('45678', 'CS-101', '1', 'Fall', Decimal('2009'), 'F')]

<hr style="height:2px;">	<img src='../../images/ch2/Slide3.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide4.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide5.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide6.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide7.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide8.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide9.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide10.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide11.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide12.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide13.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide14.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide15.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide16.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide17.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide18.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide19.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide20.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide21.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide22.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide23.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide24.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide25.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide26.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide27.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide28.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch2/Slide29.jpeg'>	<hr style="height:2px;">

# Some Comments

## Algebraic Query Language

Both the abstract relational model/theory and SQL are __algebras__.

"... abstract algebra (occasionally called modern algebra) is the study of algebraic structures." (https://en.wikipedia.org/wiki/Abstract_algebra) 

"In mathematics, and more specifically in abstract algebra, an algebraic structure is a set (called carrier set or underlying set) with one or more operations defined on it that satisfies a list of axioms." (https://en.wikipedia.org/wiki/Algebraic_structure)

__Group is an Example__ (http://mathworld.wolfram.com/Group.html)

"A group G is a finite or infinite set of elements together with a binary operation (called the group operation) that together satisfy the four fundamental properties of closure, associativity, the identity property, and the inverse property. The operation with respect to which a group is defined is often called the "group operation," and a set is said to be a group "under" this operation. Elements A, B, C, ... with binary operation between A and B denoted AB form a group if

1. Closure: If A and B are two elements in G, then the product AB is also in G.
<br><br>
2. Associativity: The defined multiplication is associative, i.e., for all A,B,C in G, (AB)C=A(BC).
<br><br>
3. Identity: There is an identity element I (a.k.a. 1, E, or e) such that IA=AI=A for every element A in G.
<br><br>
4. Inverse: There must be an inverse (a.k.a. reciprocal) of each element. Therefore, for each element A of G, the set contains an element B=A<sup>-1</sup> such that <br>AA<sup>-1</sup>=A<sup>-1</sup>A=I.

## Why a Special Query Language? Why a Formal Language? Why an Algebra

- Computing has a formal mathemetical model.


- Programming languages derive from the model and have their own formal definition.


- Almost every time someone publishes a new language, my reaction is, "What? Why another language? Can't we just pick one, use it and get it right?"


- Relational algebra is less powerful and expressive than Java, C, ... and other programming languages.


- __The simplicity and constrained capabilities is actually one of the core of the value,__ enabling
    - Vastly simplified programming and supporting tools that yields increased productivity.
    - Development of algorithms that process the data definitions and query statements to automatically produce optimal execution plans, which are better than what a programmer can directly code.
    
    
- We will see these benefits in coming lectures.


_Simple Tool Example_ that enables "citizen programmers" to maniuplate data.

| <img src="../../images/ss_1.jpeg"> |
| :---: |
| __Data Processing and Cleansing Tools__ |

<br><br>
_Simple Tool Example_ for enabling business professionals to analyze and report on data.

| <img src="../../images/quicksight.jpeg" width="85%"> |
| :---: |
| [QuickSight](https://aws.amazon.com/quicksight/) Analysis Tool |