<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases
</span>
</center></b>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Makeup Lecture(s) -- Relational Details, REST<br>(V 1.0)<br>Part 2
</span>
</center></i>

__Environment Set Up__

In [1]:
%load_ext sql
%sql mysql+pymysql://root:dbuserdbuser@localhost/lahman2019raw
%sql select * from people where playerid='willite01'

 * mysql+pymysql://root:***@localhost/lahman2019raw
1 rows affected.

[('willite01', '1918', '8', '30', 'USA', 'CA', 'San Diego', '2002', '7', '5', 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01')]

- Now it looks like I have two Ted Williams.

# Introduction

- This lecture will cover three topics.<br>
    1. The theoretical/mathematical/formal relational model.
    <br><br>
    1. A systematic walk-through of the SQL language.
    <br><br>
    1. An overview of REST/web data and the mapping to the relational model.


- There are several references to the details of (1) and (2).


- (1) Formal relational model:
    - "Database System Concepts - Seventh Edition," by Silberschatz, Korth, Sundarshan. ISBN 9780078022159, Chapter 2.
    - "Database Management Systems 3ed," by  R. Ramakrishnan and J. Gehrke. Chapter 3.
    
- (2) SQL language:
    - "Database System Concepts - Seventh Edition," by Silberschatz, Korth, Sundarshan. ISBN 9780078022159, Chapter 3 and chapter 4.
    - "Database Management Systems 3ed," by  R. Ramakrishnan and J. Gehrke., chapters 4 and 5.
    - "Learn SQL: SQL Tutorial," https://www.tutorialspoint.com/sql/index.htm
    - "SQL Tutorial," https://www.w3schools.com/sql
    
    
- (3) There are a lot of good tutorials on REST and REST APIs.
    - REST API Tutorial (https://restfulapi.net/) is a good start.
    - https://www.kennethlange.com/the-sql-developers-guide-to-rest-services/ is a good, quick, simple overview of SQL and REST.
    - I will provide a concise view of REST, and my perspective on REST APIs and on combining SQL and REST.
    
    
__This recording focuses on topic (2).__

<hr style="height:2px;">	<img src='../../images/ch3/Slide1.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide2.jpeg'>	<hr style="height:2px;">

In [2]:
%sql use newdbbook;

0 rows affected.

[]

In [5]:
%sql select * from takes limit 10;

10 rows affected.

[('00128', 'CS-101', '1', 'Fall', Decimal('2009'), 'A'),
 ('00128', 'CS-347', '1', 'Fall', Decimal('2009'), 'A-'),
 ('12345', 'CS-101', '1', 'Fall', Decimal('2009'), 'C'),
 ('12345', 'CS-190', '2', 'Spring', Decimal('2009'), 'A'),
 ('12345', 'CS-315', '1', 'Spring', Decimal('2010'), 'A'),
 ('12345', 'CS-347', '1', 'Fall', Decimal('2009'), 'A'),
 ('19991', 'HIS-351', '1', 'Spring', Decimal('2010'), 'B'),
 ('23121', 'FIN-201', '1', 'Spring', Decimal('2010'), 'C+'),
 ('44553', 'PHY-101', '1', 'Fall', Decimal('2009'), 'B-'),
 ('45678', 'CS-101', '1', 'Fall', Decimal('2009'), 'F')]

<hr style="height:2px;">	<img src='../../images/ch3/Slide3.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide4.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide5.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide6.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide7.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide8.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide9.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide10.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide11.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide12.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide13.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide14.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide15.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide16.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide17.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide18.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide19.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide20.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide21.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide22.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide23.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide24.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide25.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide26.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide27.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide28.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide29.jpeg'>	<hr style="height:2px;">

<hr style="height:2px;">	<img src='../../images/ch3/Slide30.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide31.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide32.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide33.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide34.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide35.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide36.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide37.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide38.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide39.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide40.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide41.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide42.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide43.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide44.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide45.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide46.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide47.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide48.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide49.jpeg'>	<hr style="height:2px;">

<hr style="height:2px;">	<img src='../../images/ch3/Slide50.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide51.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide52.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide53.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide54.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide55.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide56.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide57.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide58.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide59.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide60.jpeg'>	<hr style="height:2px;">
<hr style="height:2px;">	<img src='../../images/ch3/Slide61.jpeg'>	<hr style="height:2px;">